.button{
    position: absolute;
    padding: 1rem 3rem;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary); 
   
    box-shadow: 0 0 10px black;
    
}
.menu-button{
    width: 32px;
    height: 42px;
    top: 5%;
    right: 5%;
    background: url('../assets/menu-button.png'), var(--primary);
    background-size: contain;
    transition: all 0.3s ease-in;
}

.menu-button:hover{
    transform: scale(1.03);
}


.hit-button{
    bottom: 10%;
    left: 50%;
    animation: bounce linear infinite 4.5s; 
    border: double 4px black;
}