.health-bar{
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 2rem;
    padding: 1.25rem 0;
    width: 80%;
    box-shadow: var(--box-shadow-honey);
    /* animation: tremble 1s ease-in-out infinite; */
    /* green is default color */
    background-color: rgba(70, 185, 24, 0.911);
    &.red{
        background-color: red;
    }

    &.orange{
        background-color: orange;
    }
    &.yellow{
        background-color: rgb(250, 228, 30);
    }

    h2{
        font-family: "Gabriola";
    }

    &.active{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

