@import url("./index.css");
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
/* CSS Resets */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary:rgba(216, 63, 43, 0.959);
    --black:rgb(56, 56, 56);
    --secondary:#fcfcfc;
    --font-primary:'Fraunces',sans-serif;
    --box-shadow-honey: 0 4px 8px rgba(255, 204, 0, 0.5), 0 8px 16px rgba(255, 204, 0, 0.3);
}

#canvas1{
    border: 5px solid var(--black);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* so that the canvas will scale down */
}

/* 
 We don't want to show the sprites in HTML directly
 We will inject them into the Canvas with by using Canvas API
*/
#worker-bee,#drone-bee,#queen-bee{
    display: none;
    width: 100px;
    height: 100px;
}

#drone-bees-swarm,#worker-bees-swarm{
    display: none;
    width:150px;
    height: 150px;
}

#spring-bg,#summer-bg,#autumn-bg,#winter-bg{
    display: none;
}


.settings{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
 
    color: white;
    padding: 6rem;
    background: url('../assets/backgrounds/spring.png') ;
    background-repeat: no-repeat;
    background-position: top;
    &.active{
        display: block;
    }

    .settings__bee-queen{
        max-width:500px;
        max-height:500px;
        min-height: 250px;
        min-width: 250px;
        position: absolute;
        right: 5%;
        animation: bounce infinite linear 5s;
    }
}



/* .player__name{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 250px;
    max-width: 600px;
    height: 50px;
    white-space: nowrap;
    background: url('../assets/backgrounds/honey-bg.jpg');
    background-size: cover;
    border: none;
    box-shadow: var(--box-shadow-honey);
    color: var(--secondary);
    font-family: var(--font-primary);
    font-size: 24px;
    
} */